:root{
    --dark: #343a40
}
body{
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}
.side{
    background-color: var(--dark);
    height: 100%;
    width: 20%;
    padding: 1vh;
    transition: all 0.5s ease;
}
.side img{
    width: 5vh;
    height: 100%;
    border-radius: 100vh;
    margin-right: 1vh;
}
.side h1{
    display: flex;
    color: rgba(255,255,255,.8);
    font-weight: 300!important;
    font-size: 1.3rem;
    height: 100%;
    padding-left: 1vh;
}
.tete{
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 100%;
    padding-bottom: 2vh;
    border-bottom: 1px solid grey;
    border-width: 90%;
}
.search{
    display: flex;
    padding-top: 1vh;
    justify-content: center;
}
.search input{
    border-radius: 1vh;
    border: none;
    width: 90%;
    color:black;
    background-color: grey;
    height: 5vh;
    font-size: 1rem;
}
li{
    list-style: none;
    color: aliceblue;
    font-size:3vh;
    margin-bottom: 3vh;
}
.nav{
    width: 100%;
    height: 7vh;
    background-color: grey;
    transition: all 0.5s ease;
}
i{
    font-size: 4vh;
    margin-left: 1vh;
    margin-top: 1vh;
}
body.active .side{
    left:-30%;
    position: absolute;
    
}
body.active .nav{
    width: 100%;
    margin-left: 0;
}