@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}
header{
    display: grid;
    place-items: center;
    height: 7vh;
    width: 100%;
}
input{
    width: 30vh;
    height: 4vh;
    border-radius: 1vh;
    border: none;
    margin-right: 1vh;
    background-color:darkgray;
}
.fav{
    display: grid;
    place-items: center;
    width: 100%;
    height: 30vh;
    background-color: blanchedalmond;
}
h3{
    font-weight:590;
}
.fav img{
    width: 10vh;
    height: 10vh;
    border-radius: 100vh;
}
.recipe{
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.window img{
height: 55vh;
width: 50vh;
}
.window h1{
    transform: translateY(-400px);
    color: black;
    background-color:white;
    width: 90%;
    height: 7%;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 3vh;
}
.window{
    border-radius: 1vh;
    margin: 1vh;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.titre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5vh;
    padding-top: 0;
}
.fa-regular, .fa-solid{
    font-size: 2rem;
}

.modal{
    height: 80vh;
    width: 100%;
    margin: 1vh;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: -100%;
    transition: opacity 300ms ease-in-out,top 1000ms ease-in-out,transform 1000ms ease-in-out;
}
.active{
    opacity: 1;
    top: 85%;
    transition: opacity 300ms ease-in-out,top 1000ms ease-in-out,transform 1000ms ease-in-out;
}
.boite{
    display: flex;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 40%;
    border: solid 1px;
}

.modal-titre{
    display: flex;
    height: 10%;
    flex-direction: row;
    padding: 1vh;
    width: 100%;
    justify-content: space-between;
}
.modal-titre h2{
    padding-left: 25%;
}

.image{
    display: flex;
    justify-content: center;
    height: 50%;
}
.image img{
    height: 100%;
    width: 100%;
    padding: 2vh;
}
.overview{
    padding: 2vh;
    height: 43%;
    overflow-y: scroll;
}
.overview h3{
    font-weight: 600;
}
ul{
    padding-left: 25%;
}
