@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: url('snow.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.colonne, .note{
    display: flex;
    align-items: center;
    padding-left: 1vh;
    border-left: 1vh solid violet;
    width: 99%;
    height: 5vh;
    background-color:silver;
    margin: 1vh;
}
button{
    width: 10vh;
    height: 3.5vh;
    border-radius: 1vh;
}
.container{
    display: flex;
    flex-direction: column;
}
main{
    width: 100%;
    display: flex;
}
.cols, #trash{
    width: 20%;
    height: 80vh;
    margin: 1vh;
}
#trash{
    position:absolute;
    right: -200%;
}
.trash-notes{
    width: 100%;
    padding: 1vh;
    overflow-y: scroll;background-color: #8da9c4;
    height: 100%;

}
.fa-trash{
    position: absolute;
    right: 1%;
    font-size: 2rem;
}
.cols .fa-solid.fa-window-restore{
    display: none;
}
.trash-notes .fa.fa-angles-right::before, .trash-notes .fa.fa-angles-left::before, .trash-notes .fa-solid.fa-xmark::before
    {
    display: none;
} 
#note_id_1 .fa.fa-angles-left::before{
    display: none;
}



.visible #trash{
    right: 0;
    transform: translateY(5%);
}

.cols p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh;
    padding-left: 1vh;
    height: 5%;
}
.cols .notes{
    display: flex;
    flex-direction: column;
    background-size:10rem;
    background-repeat: no-repeat;
    background-position:center;
    height: 95%;
    width: 100%;
    padding: 1vh;
    background-image: url('Onclick.png') ;
    overflow:auto;
    
}
input{
    background-color: transparent;
    border: none;
    height: 3vh;
}

.model{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -200%;
    background-color: rgba(0, 0, 0, 0.412);
    width: 100%;
    height: 100vh;
}
.modal{
    background-color:white;
    position: absolute;
    height: 80%;
    width:  30%;
    border: 0.3vh solid;
    border-radius: 1vh;
}
#right, #left{
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 1.5rem;
}
.info{
    text-align: center;
    display: flex;
    flex: 10;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
}
.info h5{
    border-radius: 1vh;
    position: absolute;
    background-color:white;
    width: 20vh;
    height: 13vh;
    opacity: 0;
}
.une-note:hover .info h5{
    opacity: 1;
}

.modal-titre{
    display: flex;
    padding: 1vh;
    background-color:rgba(233, 186, 156, 0.932);
    width: 100%;
    height: 10%;
    justify-content: space-between;
}
.modal-titre p{
    display: flex;
    align-items: center;
}
.content{
    padding: 2vh;
    width: 100%;
    height: 90%;
}
.content input{
    width: 100%;
    height: 5vh;
    background-color: white;
}
.content p{
    margin: 1vh;
}
#ajout{
    color: white;
    font-size: 3vh;
    margin-top: 2vh;
    background-color: rgb(2, 122, 2);
    width: 100%;
    height: 5vh;
    border: none;
}
.active{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
}
.une-note{
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    width: 100%;    
    height: 15vh;
    border: 1px solid;
    border-radius: 1vh;
    margin-bottom: 2vh;
}
.une-note h4{
    margin: 1vh;
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#delete-task{
    display: flex;
    padding-right: 1vh;
    transform: translateY(-200%);
}